.appointment-container {
  margin: 2rem;
}

.appointmentlist {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  align-items: center;
  gap: 1rem;
}

.appointment-entry {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;

  align-items: center;
}

.ap-text {
  margin-right: auto;
}

.btn-last {
  margin-right: 2rem;
}
