<div class="doctor-entry border-prim shadow-prim">
  <div class="info-list">
    <h2>{{info.name}}</h2>
    <h3>Location: <span class="thin-text">{{info.location}}</span></h3>
    <h3 class="bounded-textbox">Phone Number: <span class="thin-text float-right">{{info.number}}</span></h3>
    <h3 class="bounded-textbox">Birthdate: <span class="thin-text float-right">{{info.birthdate}}</span></h3>
  </div>
  <div class="actions">
    <div class="wrapper" *ngFor="let ac of info.actions">
      <div class="info-button button" [ngClass]="ac.colorClass" (click)="ac.clickFunc()">
        <button>{{ac.text}}</button>
      </div>

    </div>
  </div>
</div>
