<footer>
  <div class="footer__container">
  <div class="social-media__container">
      <h5 class="media__title">Related links:</h5>
      <a href="https://www.vrisko.gr/efimeries-farmakeion/irakleio" target="_blank"><img src="https://www.vrisko.gr/graphlink/Pharmacies/image/160x60_Banner_n/?Region=irakleio&SmallRegion=true&NativeRegion=%ce%97%cf%81%ce%ac%ce%ba%ce%bb%ce%b5%ce%b9%ce%bf&" border="0" alt="Drug Stores on duty" /></a>
      <a href="https://www.vrisko.gr/efimeries-nosokomeion?SelectedCity=hrakleio" target="_blank"><img src="https://www.vrisko.gr/graphlink/Hospitals/image/160x60_Banner_n/?Prefecture=hrakleio&SmallPrefecture=true&NativePrefecture=%ce%97%ce%a1%ce%91%ce%9a%ce%9b%ce%95%ce%99%ce%9f&" border="0" alt="Hospitals on duty" /></a>

    </div>

  <div class="contact-info__container">
      <h5 class="contact__title">Contact us:</h5>

      <div class="contact__container">
          <div class="contact__entry">
              <p class="contact__location">Heraklion:</p>
              <div class="contact__phones">
                  <ul class="contact__phone-list">
                      <li class="phone__entry">+30 698 571 7929</li>
                      <li class="phone__entry">+30 697 848 2087</li>
                  </ul>
              </div>
              <div class="contact__emails">
                  <ul class="contact__email-list">
                      <li class="email__entry">customer_her@domain.eu</li>
                      <li class="email__entry">contact_her@domain.eu</li>
                  </ul>
              </div>
          </div>

          <div class="contact__entry">
              <p class="contact__location">Chania:</p>
              <div class="contact__phones">
                  <ul class="contact__phone-list">
                      <li class="phone__entry">+30 696 452 8492</li>
                      <li class="phone__entry">+30 696 451 8559</li>
                  </ul>
              </div>
              <div class="contact__emails">
                  <ul class="contact__email-list">
                      <li class="email__entry">customer_cha@domain.eu</li>
                      <li class="email__entry">contact_cha@domain.eu</li>
                  </ul>
              </div>
          </div>
      </div>
  </div>

  <div class="credits__container">
      <h5 class="credits__title">Made by:</h5>
      <p class="credits__entry">@Tzagkaris ( csd4279 )</p>
      <p class="credits__entry">@Papasifis ( csd4278 )</p>
  </div>
